version: "3.9"

services:
  backend:
    build: ./backend
    container_name: pyglass-backend
    ports:
      - "8000:8000"
    environment:
      MYSQL_ADDON_HOST: gu9zl0.h.filess.io
      MYSQL_ADDON_DB: PYGLASS_jaroldarea
      MYSQL_ADDON_USER: PYGLASS_jaroldarea
      MYSQL_ADDON_PASSWORD: 201cd5b19447c7b56cff27dd60c200ed8e8470d0
      MYSQL_ADDON_PORT: 61002
    #dependencias locales comentadas porque apuntas a DB remota
    #depends_on:
    #  - db

  frontend:
    build: ./frontend
    container_name: pyglass-frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend

# Contenedor de DB local opcional, normalmente no necesario
# db:
#   image: mysql:8.0
#   container_name: pyglass-db
#   restart: always
#   environment:
#     MYSQL_ROOT_PASSWORD: rootpass
#     MYSQL_DATABASE: pyglass
#     MYSQL_USER: pyglass_user
#     MYSQL_PASSWORD: pyglass_pass
#   ports:
#     - "3307:3306"
#   volumes:
#     - db_data:/var/lib/mysql

#volumes:
#  db_data:
